.howto-container {
  position: absolute;
  top: -800px;
  font-size: 1.2rem;
  min-height: 30vh;
  width: 520px;
  background-color: var(--main-color);
  border: 1px solid rgb(255, 255, 255);
  padding: 2rem;
  color: rgb(157, 230, 144);
}

.howto-modal {
  top: 200px;
}
