.btns-container {
  display: flex;
  flex-flow: row wrap;
}

.btns {
  flex-grow: 1;
  flex-basis: 0;
  min-width: 220px;
  padding: 0.8rem;
  border: none;
  margin: 0.3rem;
  border: 1px solid var(--secundary-color);
  border-radius: 5px;
  outline: none;
  background-color: transparent;
  color: var(--secundary-color);
  font-family: "Raleway", sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
  box-shadow: 0rem 0.2rem 1rem rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: 0.3s ease-in;
}

.btns:hover {
  background-color: var(--secundary-color);
  color: #eee;
}

.active {
  background-color: var(--secundary-color);
  color: #eee;
}

@media all and (max-width: 480px) {
  .btns-container {
    padding: 0 2rem;
  }

  .btns {
    font-size: 1rem;
    margin: 0.2rem;
    padding: 0.7rem;
  }
}

@media all and (min-width: 480px) and (max-width: 1020px) {
  .btns-container {
    padding: 0 4rem;
  }

  .btns {
    font-size: 1.3rem;
    margin: 0.2rem;
    padding: 0.7rem;
  }
}
