.App {
  height: 100vh;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 2rem;
  padding: 2rem;
  border-radius: 10px;
  height: 80vh;
}
