.header-container {
  background-color: var(--secundary-color);
  box-shadow: 0rem 0.6rem 1rem rgba(0, 0, 0, 0.2);
}

.header-container header {
  width: 70%;
  margin: 0 auto;
  height: 88px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tittle {
  margin: 0;
  color: var(--primary-color);
  font-size: 1.8rem;
  font-weight: 500;
  letter-spacing: 2px;
}

.nav-container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  color: white;
}

.btns-nav {
  background-color: transparent;
  border: none;
  outline: none;
  color: var(--primary-color);
  font: inherit;
  font-size: 1.3rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-left: 1rem;
  cursor: pointer;
  transition: 0.3s;
}

.btns-nav:hover {
  color: rgb(209, 209, 62);
}

.btns-mobile {
  display: none;
}

@media all and (max-width: 1020px) {
  .tittle {
    font-size: 1.2rem;
  }

  .btns-nav {
    font-size: 1rem;
  }
}

@media all and (max-width: 520px) {
  .header-container {
    visibility: hidden;
  }

  .header-container header {
    height: 0px;
    width: 100%;
  }

  .btns-mobile {
    display: block;
    visibility: visible;
    color: var(--secundary-color);
    position: absolute;
    top: 15px;
    right: 15px;
  }

  .setting-icon {
    transform: scale(1.3);
  }

  /* delete hover effect on touch */
  @media (hover: none), (hover: on-demand) {
    .btns-nav:hover {
      color: var(--secundary-color);
    }
  }
}

@media all and (min-width: 520px) and (max-width: 1024px) {
  .header-container header {
    width: 85%;
  }
  @media (hover: none), (hover: on-demand) {
    .btns-nav:hover {
      color: var(--primary-color);
    }
  }
}
