.header-container {
  background-color: var(--secundary-color);
  box-shadow: 0rem 0.6rem 1rem rgba(0, 0, 0, 0.2);
}

.header-container header {
  width: 70%;
  margin: 0 auto;
  height: 88px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tittle {
  margin: 0;
  color: var(--primary-color);
  font-size: 1.8rem;
  font-weight: 500;
  letter-spacing: 2px;
}

.nav-container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  color: white;
}

.btns-nav {
  background-color: transparent;
  border: none;
  outline: none;
  color: var(--primary-color);
  font: inherit;
  font-size: 1.3rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-left: 1rem;
  cursor: pointer;
  transition: 0.3s;
}

.btns-nav:hover {
  color: rgb(209, 209, 62);
}
