.active {
}

.btns {
  padding: 0.9rem;
  border: none;
  border-radius: 55px;
  margin: 0.5rem;
  background-color: var(--button-color);
  color: var(--text-color);
  font-weight: 600;
  letter-spacing: 1px;
  box-shadow: 0.4rem 0.5rem 1rem rgba(0, 0, 0, 0.3);
}
