.playBtns {
  background-color: transparent;
  border: none;
  padding: 1rem;
  margin: 1rem;
  outline: none;
  cursor: pointer;
}

.icons {
  color: var(--text-color);
  transform: scale(2);
  transition: 0.4s;
}

.icons:hover {
  color: rgb(245, 202, 61);
}
.icons:active {
  transform: scale(2.5);
}

.icons-active {
  color: rgb(245, 202, 61);
}
